$page-back: linear-gradient(to bottom, #e7ffb3, #707070);
$page-height: 100%;

$material-primary-color: #f50057;

$btn-aqua-shadow: 2px 0px 5px aqua;

$btn-onhover-color: aqua;
$btn-font-size: large;
$btn-background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
$btn-onhover-background: black;
$btn-color: black;
