@import "../abstracts/functions";

.sign-main {
  display: flex;
  margin-top: margin(8) !important;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 23px 10px white;
  border-radius: 5px;
  background: transparent;
  padding: 10px;
}

.sign-input-form {
  width: 100%; // Fix IE 11 issue.
  margin-top: margin(1);
}

.todo-main {
  @extend .sign-main;
  height: 70%;
  width: 600px;
  max-width: 600px;
  margin-top: 0;
}
