@import "../abstracts/variables";

.Auth-Wrapper {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );

  min-height: $page-height;
  display: flex;
  justify-content: center;
  align-items: center;
}
